.overlay_click {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 900;
  backdrop-filter: blur(3px);
}

.login_modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  color: rgb(29, 29, 121);
  padding: 2rem;
  border-radius: 8px;
  z-index: 1000;
  width: 35%;
  height: 45%;
}
.forms-login {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 80%;
  height: 70%;
}

.forms-login input {
  border: 1px solid gray;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
}

.btn_fechar {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #dd1c1c;
}

.bt_enviar{
  margin-top: 15px;
  background-color: rgb(247, 207, 78);
  color: black;
  border: none;
}

.cadastro_link a{
  color: black;
}