/* --- FUNDO DO MODAL --- */
.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(3px);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

/* --- CONTAINER DO MODAL --- */
.modalContainer {
  width: 90%;
  max-width: 520px;
  background: white;
  border-radius: 20px;
  padding: 35px 30px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
  text-align: center;
  position: relative;
}

/* --- TÍTULO --- */
.modal-title {
  font-size: 1.4rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 25px;
}

/* --- LISTA DE OPÇÕES --- */
.options {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

/* --- CARD DE OPÇÃO --- */
.option-card {
  border: 2px solid #dadada;
  border-radius: 14px;
  padding: 18px;
  background: #fff;

  display: flex;
  align-items: flex-start;
  gap: 12px;
  text-align: left;

  cursor: pointer;
  transition: 0.25s ease;
}

.option-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
}

/* --- ÍCONES DAS OPÇÕES --- */
.option-icon {
  width: 35px;
  height: 35px;
  margin-top: 10px;
}

/* --- TÍTULO DO CARD --- */
.option-card h3 {
  margin: 0;
  font-weight: 700;
  font-size: 1.15rem;
  color:#333
}

/* --- DESCRIÇÃO DO CARD --- */
.option-card p {
  margin-top: 4px;
  font-size: 0.92rem;
  color: #555;
}

/* --- BOTÃO FECHAR --- */
.close-modal {
  margin-top: 25px;
  background: #404040;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s;
}

.close-modal:hover {
  background: #222;
}
